 
RegionsConfig(
    boundary_dimensions: (1024.0, 1024.0), // Vec2(x, y)
    chunk_rows: 4,
    


    density_folder_path: "foliage/grass_density_map.png", 
    grass_y_map_folder_path: "foliage/grass_y_map.png", 
 
    
    
)

 